DATABASE_URL="postgresql://lethe:lethe_secret@localhost:5432/lethe_db"
AWS_ACCESS_KEY_ID="minio_access_key"
AWS_SECRET_ACCESS_KEY="minio_secret_key"
AWS_ENDPOINT_URL="http://localhost:9000"
AWS_BUCKET_NAME="lethe-imports"
LOG_LEVEL=debug
LOG_DIR=../logs
