DATABASE_URL="postgresql://{{ postgres_user }}:{{ postgres_password }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_db }}"
AWS_ACCESS_KEY_ID="{{ minio_access_key }}"
AWS_SECRET_ACCESS_KEY="{{ minio_secret_key }}"
AWS_ENDPOINT_URL="http://{{ minio_host }}:{{ minio_port }}"
AWS_BUCKET_NAME="{{ minio_bucket }}"
LOG_LEVEL={{ log_level | default('debug') }}
LOG_DIR={{ lethe_root }}/logs
