REDIS_URL="redis://:{{ redis_password }}@{{ redis_host }}:{{ redis_port }}"
BACKEND_URL="http://{{ backend_host }}:{{ backend_port }}"
INTERNAL_WEBHOOK_SECRET="{{ internal_webhook_secret }}"
ENCRYPTION_KEY="{{ encryption_key }}"
AWS_ACCESS_KEY_ID="{{ minio_access_key }}"
AWS_SECRET_ACCESS_KEY="{{ minio_secret_key }}"
AWS_ENDPOINT_URL="http://{{ minio_host }}:{{ minio_port }}"
AWS_BUCKET_NAME="{{ minio_bucket }}"
POST_DELAY_SECONDS={{ importer_post_delay_seconds | default(2) }}
LOG_LEVEL={{ log_level | default('DEBUG') }}
LOG_DIR={{ lethe_root }}/logs
