## /etc/minio/minio.env
## Dynamically pull all IPs from the 'storage' inventory group
#MINIO_VOLUMES="{% for host in groups['storage'] %}http://{{ host }}:9000/var/lib/minio/data {% endfor %}"
#
#MINIO_OPTS="--address :{{ minio_port }} --console-address :{{ minio_console_port }}"
#MINIO_ROOT_USER="{{ minio_access_key }}"
#MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"
#
## Recommended for distributed setups
## MINIO_SERVER_URL="http://{{ inventory_hostname }}:{{ minio_port }}"
#MINIO_CONFIG_DIR="/etc/minio"


# /etc/minio/minio.env
MINIO_VOLUMES="http://192.168.200.103:9000/var/lib/minio/data http://192.168.200.104:9000/var/lib/minio/data http://192.168.200.105:9000/var/lib/minio/data"
MINIO_OPTS="--console-address :9001 --address :9000"
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"
MINIO_CONFIG_DIR="/etc/minio"

# ADD THIS LINE: Bypasses the "root drive" rejection for dev setups
MINIO_API_ROOT_ACCESS=on
MINIO_ALLOW_ROOT_VOLUME=yes
MINIO_CI_CD=1